Flow.json
[{"id":"f68edee1.27416","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6153b901.275fe8","type":"ui_form","z":"f68edee1.27416","name":"","label":"","group":"559866c7.7dcef8","order":1,"width":"14","height":"15","options":[{"label":"Enter the input","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["decd42ba.35a8b"]]},{"id":"decd42ba.35a8b","type":"function","z":"f68edee1.27416","name":"","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":100,"wires":[["17de2ade.ae73c5"]]},{"id":"7d89c7f4.7c9b38","type":"function","z":"f68edee1.27416","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["d1ebb13a.16f42","23809141.11880e"]]},{"id":"17de2ade.ae73c5","type":"watson-discovery-v1","z":"f68edee1.27416","name":"discovery","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/a65d4b71-9ca6-4b01-9277-5adab5529cba","x":380,"y":100,"wires":[["7d89c7f4.7c9b38","33715d56.515812","b150abe7.f1cfb8","1e1de0fc.bdbf1f","ad5d310b.873d6","922e5ca1.92466"]]},{"id":"d1ebb13a.16f42","type":"ui_text","z":"f68edee1.27416","group":"559866c7.7dcef8","order":5,"width":"14","height":"2","name":"","label":"search result","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":60,"wires":[]},{"id":"78d91919.85f438","type":"function","z":"f68edee1.27416","name":"sentiment","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["ce067849.b39848"]]},{"id":"649c2917.4c97f8","type":"function","z":"f68edee1.27416","name":"positive","func":"msg.payload=msg.sentiment.positive.length;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["4092c64a.0b9348"]]},{"id":"9a760cec.d86a4","type":"function","z":"f68edee1.27416","name":"negative","func":"msg.payload=msg.sentiment.negative.length;\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":520,"wires":[["f61e6a96.7dd3f8"]]},{"id":"ce067849.b39848","type":"ui_chart","z":"f68edee1.27416","name":"","group":"cbd99994.9a51a8","order":1,"width":"3","height":"5","label":"sentimental score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":420,"wires":[[]]},{"id":"4092c64a.0b9348","type":"ui_chart","z":"f68edee1.27416","name":"","group":"cbd99994.9a51a8","order":2,"width":"3","height":"5","label":"positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#80ff00","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":460,"wires":[[]]},{"id":"f61e6a96.7dd3f8","type":"ui_chart","z":"f68edee1.27416","name":"","group":"cbd99994.9a51a8","order":3,"width":"3","height":"5","label":"negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":520,"wires":[[]]},{"id":"1e1de0fc.bdbf1f","type":"function","z":"f68edee1.27416","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["dd931861.689cb8"]]},{"id":"33715d56.515812","type":"function","z":"f68edee1.27416","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["9f6d7fbc.d04e"]]},{"id":"922e5ca1.92466","type":"function","z":"f68edee1.27416","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["68afde35.62b05"]]},{"id":"b150abe7.f1cfb8","type":"function","z":"f68edee1.27416","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_title.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["dc9cb0f0.08dad"]]},{"id":"ad5d310b.873d6","type":"function","z":"f68edee1.27416","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_title.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["97ccf18.2f4111"]]},{"id":"97ccf18.2f4111","type":"ui_text","z":"f68edee1.27416","group":"559866c7.7dcef8","order":7,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":300,"wires":[]},{"id":"dd931861.689cb8","type":"ui_text","z":"f68edee1.27416","group":"559866c7.7dcef8","order":4,"width":"14","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":220,"wires":[]},{"id":"9f6d7fbc.d04e","type":"ui_text","z":"f68edee1.27416","group":"559866c7.7dcef8","order":2,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":140,"wires":[]},{"id":"68afde35.62b05","type":"ui_text","z":"f68edee1.27416","group":"559866c7.7dcef8","order":3,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":180,"wires":[]},{"id":"dc9cb0f0.08dad","type":"ui_gauge","z":"f68edee1.27416","name":"","group":"559866c7.7dcef8","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":280,"wires":[]},{"id":"23809141.11880e","type":"sentiment","z":"f68edee1.27416","name":"","property":"payload","x":280,"y":420,"wires":[["78d91919.85f438","649c2917.4c97f8","9a760cec.d86a4","d0cf3e36.68fc1"]]},{"id":"d0cf3e36.68fc1","type":"function","z":"f68edee1.27416","name":"","func":"msg.payload=msg.sentiment.words.length;\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["d1d96e35.ac3cf"]]},{"id":"d1d96e35.ac3cf","type":"ui_chart","z":"f68edee1.27416","name":"","group":"cbd99994.9a51a8","order":4,"width":"3","height":"5","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":620,"wires":[[]]},{"id":"559866c7.7dcef8","type":"ui_group","z":"","name":"jp","tab":"7944f84d.b6b598","order":1,"disp":true,"width":"14","collapse":false},{"id":"cbd99994.9a51a8","type":"ui_group","z":"","name":"sentimental analysis","tab":"7944f84d.b6b598","order":2,"disp":true,"width":"15","collapse":false},{"id":"7944f84d.b6b598","type":"ui_tab","z":"","name":"Home","icon":"newsapp","disabled":false,"hidden":false}]
